@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-text-gradient {
    background-size: 200% auto;
    animation: textGradient 8s linear infinite;
  }
  @keyframes textGradient {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: 0% center;   
    }
  }
}
