@tailwind base;
@tailwind components;
@tailwind utilities;


/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Actual smooth theme transition fix  jab thme chnage hogi*/
html,
body,
#root {
  background-color: white;
  transition: background-color 0.8s ease, color 0.8s ease;
     font-family: 'Outfit';
}

html.dark,
body.dark,
#root.dark {
  background-color: #0f172a; /* same as dark:bg-gray-950 */
  color: white;
}